.Rproj.user
.Rhistory
.RData
.Ruserdata
vignettes/realbooks/
vignettes/*.html
vignettes/realbooks_cache/
vignettes/simulated_cache/
vignettes/realbooks_files/
vignettes/simulated_files/

data
scratch

paper/paper_cache/
paper/paper_files/
paper/realbooks/
paper/*.html
paper/*.tex
paper/*.spl
paper/*.zip

tmfast_realbooks
tmfast.Rcheck
